<meta charset = "utf-8">
<meta http-equiv = "X-UA-Compatible" content="IE=edge">
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<meta name = "author" content = "Jimy Houlbrook">
<link rel = "stylesheet" type = "text/css" href = "/static/main.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Fareham Hand Carwash</title>
<meta name="description" content="Since 2008 Fareham Hand Carwash has provided the local community and local business with quality car cleaning services">
<meta name= "viewport" content="width=device-width, initial-scale=1.0">