<meta charset = "utf-8">
<meta http-equiv = "X-UA-Compatible" content="IE=edge">
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<meta name = "author" content = "Jimy Houlbrook">
<link rel = "stylesheet" type = "text/css" href = "/static/main.css"/>
<title>Fareham Hand Carwash</title>
<meta name="description" content="Since 2008 Fareham Hand Carwash has provided the local community and local business with quality car cleaning services">
<meta name= "viewport" content="width=device-width, initial-scale=1.0">