<link rel = "stylesheet" type = "text/css" href = "/static/topNav.css"/>

<nav id = "header">
    <a href = "/home" class = "icon"><img src="/static/favicon.ico"></a>
    <a href = "/home" class = "home">ABOUT US</a>
    <a href = "/booking" class = "link">BOOK NOW</a>
</nav>