<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head'); %>
        <link rel = "stylesheet" href="/static/parallax.css">
        <link rel = "stylesheet" href="/static/gallery.css">
    </head>

    <body>
        <!-- Top Nav Bar -->
        <%- include('../partials/topnav'); %>

        <!-- Parallax -->
        <!-- Photo for parallax is currently not purchased but will be purchased if design is agreed -->
        <div class = "parallax">
            <img id = "logo" src="/static/Logo.webp">

            <div class = "main-body">
                <div class = "content">
                    <div class = "about-us">
                        <h2>About Us</h2>
                        <p>Since 2008 Fareham Hand Carwash has provided the local community and local business with quality car cleaning services</p>
                    </div>
                    <div class = "showcase">
                        <h2>Showcase</h2>
                        <div class="gallery">
                            <img src="/static/porsche.png" alt="a Porsche car after it has been cleaned">
                            <img src="/static/fordbefore.png" alt="a Ford car before it has been cleaned">
                            <img src="/static/fordafter.png" alt="a Ford car after is has been cleaned">
                            <img src="/static/merc.png" alt="A mercedes car after being cleaned">
                            <img src="/static/insidebefore.png" alt = "The boot of a car before it has been cleaned">
                            <img src="/static/insideafter.png" alt = "The boot of a car after it has been cleaned">
                            <img src ="/static/mclaren.png" alt="a mclaren car before being cleaned">
                            <img src ="/static/urus.png" alt="a lamborghini Urus after being cleaned">
                            <img src ="/static/ferrari.png" alt="A ferrari after being cleaned">
                        </div>
                    </div>
                    <div class = "location">
                        <div class = "flex-container">
                            <h2>Where to find us</h2>
                            <br>
                            <p> We are located at:</p>
                            <br>
                            <p>94 Western Rd, Fareham PO16 0NP</p>
                            <br>
                            <button>Book with us now</button>
                        </div>
                        <div class = "flex-container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10075.729593072934!2d-1.1795004!3d50.8509361!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48746941caac0f61%3A0xc602e6471d47cbd8!2sFareham%20Hand%20Carwash!5e0!3m2!1sen!2suk!4v1694894510434!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class = "contact">
                        <a href = "https://www.facebook.com/profile.php?id=100063451698085"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 10h-2v2h2v6h3v-6h1.82l.18-2h-2v-.833c0-.478.096-.667.558-.667h1.442v-2.5h-2.404c-1.798 0-2.596.792-2.596 2.308v1.692z"/></svg></a> <br>
                        <div id="phone">
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M16 22.621l-3.521-6.795c-.007.004-1.974.97-2.064 1.011-2.24 1.086-6.799-7.82-4.609-8.994l2.082-1.026-3.492-6.817-2.106 1.039c-1.622.845-2.298 2.627-2.289 4.843.027 6.902 6.711 18.013 12.212 18.117.575.011 1.137-.098 1.677-.345.121-.055 2.102-1.029 2.11-1.033zm4-5.621h-1v-13h1v13zm-2-2h-1v-9h1v9zm4-1h-1v-7h1v7zm-6-1h-1v-5h1v5zm-2-1h-1v-3h1v3zm10 0h-1v-3h1v3zm-12-1h-1v-1h1v1z"/></svg>                            <p>07719189702</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>