<!DOCTYPE html>
<html lang = "en">
    <head>
        <%- include('../partials/head'); %>
        <link rel = "stylesheet" href="/static/parallax.css">
        <link rel = "stylesheet" href="/static/gallery.css">
    </head>

    <body>
        <!-- Top Nav Bar -->
        <%- include('../partials/topnav'); %>

        <!-- Parallax -->
        <!-- Photo for parallax is currently not purchased but will be purchased if design is agreed -->
        <div class = "parallax">
            <img id = "logo" src="/static/Logo.webp">

            <div class = "main-body">
                <div class = "content">
                    <h2>Page not found, return to <a href="/home">Home</a></h2>
                </div>
            </div>
        </div>
    </body>
</html>