@media(hover: hover){
    .gallery {
        --s: 300px; /* control the size */
        --g: 10px;  /* control the gap */
        --f: 1.5;   /* control the scale factor */
        
        margin: auto;
        display: grid;
        gap: var(--g);
        width: calc(3*var(--s) + 2*var(--g));
        max-width: 77%;
        aspect-ratio: 1;
        grid-template-columns: repeat(3,auto);
    }
    
    .gallery > img {
        width: 0;
        height: 0;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .gallery img:hover{
        width:  calc(var(--s)*var(--f));
        height: calc(var(--s)*var(--f));
    }
}

@media(hover: none), (hover: on-demand){
    .gallery {
        --s: 25%; /* control the size */
        --g: 1;  /* control the gap */
        --f: 1.5;   /* control the scale factor */
        
        margin: auto;
        display: grid;
        gap: var(--g);
        width: calc(3*var(--s) + 2*var(--g));
        aspect-ratio: 1;
        grid-template-columns: repeat(3,auto);
    }
    
    .gallery > img {
        width: 0;
        height: 0;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: .35s linear;
    }
}