body{
    margin: 0%;
    background-color: white;
    color: White;
    font-family: sans-serif;
}

.main-body{
    width: 100%;
    color: white;
    padding-bottom: 5%;
}

.content{
    opacity: 100%;
    border-radius: 10px;
    padding: 3%;
    background-color: #1C4E8D;
    width: 66%;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    font-size: 24px;
}

.about-us{
    padding-bottom: 5%;
}

.location{
    padding: 2%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.flex-container > iframe{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.flex-container{
    padding: 1%;
}

.contact{
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

#phone{
    padding-left: 3%;
    display: flex;
}

#phone > svg {
    padding-right: 1%;
    margin-top: 2%;
}